diff --git a/config.def.h b/config.def.h
index 9855e21..faa6d27 100644
--- a/config.def.h
+++ b/config.def.h
@@ -3,10 +3,10 @@ static const char *user  = "nobody";
 static const char *group = "nogroup";
 
 static const char *colorname[NUMCOLS] = {
-	[INIT] =   "black",     /* after initialization */
-	[INPUT] =  "#005577",   /* during input */
-	[FAILED] = "#CC3333",   /* wrong password */
+	[INIT] =   "#202020",   /* after initialization */
+	[INPUT] =  "#555753",   /* during input */
+	[FAILED] = "#ef2929",   /* wrong password */
 };
 
 /* treat a cleared input like a wrong password (color) */
-static const int failonclear = 1;
+static const int failonclear = 0;
